<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>演讲 - Go 编程语言</title>
  <link type="text/css" rel="stylesheet" href="/static/dir.css">
  <script src="/static/dir.js"></script>
  <script>
    // Initialize Google Analytics tracking code on production site only.
    if (window["location"] && window["location"]["hostname"] == "talks.golang.org") {
      var _gaq = _gaq || [];
      _gaq.push(["_setAccount", "UA-11222381-6"]);
      _gaq.push(["b._setAccount", "UA-49880327-6"]);
      window.trackPageview = function() {
        _gaq.push(["_trackPageview", location.pathname+location.hash]);
        _gaq.push(["b._trackPageview", location.pathname+location.hash]);
      };
      window.trackPageview();
      window.trackEvent = function(category, action, opt_label, opt_value, opt_noninteraction) {
        _gaq.push(["_trackEvent", category, action, opt_label, opt_value, opt_noninteraction]);
        _gaq.push(["b._trackEvent", category, action, opt_label, opt_value, opt_noninteraction]);
      };
    }
  </script>
</head>
<body>

<div id="topbar"><div class="container">

<form method="GET" action="//golang.org/search">
<div id="menu">
<a href="https://go-zh.org/doc/">文档</a>
<a href="https://go-zh.org/ref/">参考</a>
<a href="https://go-zh.org/pkg/">包</a>
<a href="https://go-zh.org/project/">项目</a>
<a href="https://go-zh.org/help/">帮助</a>
<input type="text" id="search" name="q" class="inactive" value="搜索">
</div>
<div id="heading"><a href="/">Go 编程语言</a></div>
</form>

</div></div>

<div id="page">

  <h1>Go 演讲</h1>

  {{with .Path}}<h2>{{.}}</h2>{{end}}

  {{with .Articles}}
  <h4>文章：</h4>
  <dl>
  {{range .}}
  <dd><a href="/{{.Path}}">{{.Name}}</a>: {{.Title}}</dd>
  {{end}}
  </dl>
  {{end}}

  {{with .Slides}}
  <h4>幻灯片：</h4>
  <dl>
  {{range .}}
  <dd><a href="/{{.Path}}">{{.Name}}</a>: {{.Title}}</dd>
  {{end}}
  </dl>
  {{end}}

  {{with .Other}}
  <h4>文件：</h4>
  <dl>
  {{range .}}
  <dd><a href="/{{.Path}}">{{.Name}}</a></dd>
  {{end}}
  </dl>
  {{end}}

  {{with .Dirs}}
  <h4>子目录：</h4>
  <dl>
  {{range .}}
  <dd><a href="/{{.Path}}">{{.Name}}</a></dd>
  {{end}}
  </dl>
  {{end}}

</div>

<div id="footer">
构建版本：{{html .Version}}<br>
除<a href="https://developers.google.com/site-policies#restrictions">特别注明</a>外，
本页内容均采用知识共享-署名（CC-BY）3.0协议授权，代码采用<a href="/LICENSE">BSD协议</a>授权。<br>
<a href="/doc/tos.html">服务条款</a> |
<a href="http://www.google.com/intl/en/policies/privacy/">隐私政策</a>
</div>

<script>
  (function() {
    // Load Google Analytics tracking code on production site only.
    if (window["location"] && window["location"]["hostname"] == "talks.golang.org") {
      var ga = document.createElement("script"); ga.type = "text/javascript"; ga.async = true;
      ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";
      var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ga, s);
    }
  })();
</script>
</body>
</html>
